<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tinker</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/base.css">
</head>
<body>
    <h3>Comments page</h3>
    <ul>
        <li>Create new comment button</li>
        <li>Textarea to enter comment</li>
        <li>Submit button</li>
        <li>Submit button should do some form validation and load a spinning indicator.</li>
    </ul>
</body>
</html>
