<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tinker</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/base.css">
</head>
<body>
    <nav class="navbar navbar-static-top" role="navigation">
        <h1 class="inline" style="font-weight:400;">Tinker</h1>
        <img class="nav-icon navbar-right" src="img/settings.png">
        <img class="nav-icon navbar-right" src="img/user.png">
    </nav>
    <div class="container block-area">
        <div class="row">
            <div class="col-md-12 heading">
                Open Projects
            </div>
        </div>
        <div class="row block">
            <div class="col-md-3">
                Search Bar ____
            </div>
            <div class="col-md-3">
                Date Posted
            </div>
            <div class="col-md-3">
                Skill
            </div>
            <div class="col-md-3">
                Location
            </div>
        </div>
        <div class="row-padding-lg"></div>
        <div class="row block">
            <div class="col-md-2 col-header">
                Profile Pic 
            </div>
            <div class="col-md-2 col-header">
                Project Title
            </div>
            <div class="col-md-2 col-header">
                Date Posted
            </div>
            <div class="col-md-2 col-header">
                Skill 
            </div>
            <div class="col-md-2 col-header">
                Location 
            </div>
            <div class="col-md-2 col-header">
                Difficulty 
            </div>
        </div>
        <div class="row-padding-sm"></div>
        <div class="row block">
            <div class="col-md-2">
                <img class="profile-pic" src="img/profile1.jpg">
            </div>
            <div class="col-md-2 pad-top">
                Sample Project 1 
            </div>
            <div class="col-md-2 pad-top">
                1/1/2014
            </div>
            <div class="col-md-2 pad-top">
                Woodwork
            </div>
            <div class="col-md-2 pad-top">
                Charlottesville
            </div>
            <div class="col-md-2 pad-top">
                3.0
            </div>
        </div>
    </div>
</body>
</html>
