<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tinker</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/newProject.css">
</head>
<body>
    <nav class="navbar navbar-static-top" role="navigation">
        <img src="/img/logo.png" class="logo">
        <h1 class="inline" style="font-weight:400;"> <a class="projects-link" href="/projects">Tinker</a></h1>
        <a href="/users/1">
            <img class="nav-icon navbar-right" src="/img/user.png">
        </a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="heading">New Project Form</div>
            </div>

            <div class="row block">
                <div class="col-lg-3">
                    <div class="row">
                        <input type="text" class="padding-md input-style" placeholder="Project Title">
                    </div>
                    <div class="row">
                        <input type="text" class="padding-md input-style" placeholder="Skills Needed">
                    </div>
                    <div class="row">
                        <input type="text" class="padding-md input-style" placeholder="Location">
                    </div>
                    <div class="row">
                        <input type="text" class="padding-md input-style" placeholder="Difficulty">
                    </div>
                </div>
                <div class="col-lg-6">
                    <textarea class="edit-field input-style"></textarea>
                </div>
            </div>

            <div class="row block">
                <button class="btn btn-primary create-button">Create Project</button>
            </div>
        </div>
    </div>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/newProject.js"></script>
</body>
</html>
