<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tinker</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/default.date.css">
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
    <nav class="navbar navbar-static-top" role="navigation">
        <img src="img/logo.png" class="logo">
        <h1 class="inline" style="font-weight:400;"> <a class="projects-link" href="/projects">Tinker</a></h1>
        <a href="/users/1">
            <img class="nav-icon navbar-right" src="/img/user.png">
        </a>
    </nav>
    <div class="container">
      
    


        <div class="row-padding-sm"></div>

        <div class="row-block">
            <a href="https://gardenclub.homedepot.com/" target="_blank">
                <img src="/img/homedepot.png" width="100%"/>
                <figcaption>Sponsored</figcaption>
            </a>

        </div>

          <div class="row">
            <div class="col-md-12 heading">
                Open Projects
            </div>
            
        </div>

            <div class="row block">
            <div class="col-md-2">
                <form action="">
                    <input type="text" class="search input-style" placeholder="Search">
                </form>
            </div>
            <div class="col-md-2">
                <form action="">
                    <input class="datepicker input-style" type="text" placeholder="Filter Date">
                </form>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-2">
                <button class="btn btn-primary">+ New Project</button>
            </div>
        </div>

        <div class="row-padding-sm"></div>

        <div class="row block">
            <div class="col-md-2 col-header">
                Profile Pic 
            </div>
            <div class="col-md-2 col-header">
                Project Title
            </div>
            <div class="col-md-2 col-header">
                Date Posted
            </div>
            <div class="col-md-2 col-header">
                Skill 
            </div>
            <div class="col-md-2 col-header">
                Location 
            </div>
            <div class="col-md-2 col-header">
                Difficulty 
            </div>
        </div>
        <!-- <div class="row-padding-sm"></div> -->
        <div class="data-entries">
            <% for(var i = 0; i < projectsPage.length; i++) { %>
                <div class="row block data-<%= i %>">
                    <div class="col-md-2">
                        <img class="profile-pic" src="<%= projectsPage[i].profilePic  %>">
                    </div>
                    <div class="col-md-2 pad-top project-title">
                        <%= projectsPage[i].title %>
                    </div>
                    <div class="col-md-2 pad-top project-date">
                        <%= projectsPage[i].date %>
                    </div>
                    <div class="col-md-2 pad-top project-skill">
                        <%= projectsPage[i].skill %>
                    </div>
                    <div class="col-md-2 pad-top project-location">
                        <%= projectsPage[i].location %>
                    </div>
                    <div class="col-md-2 pad-top project-difficulty">
                        <%= projectsPage[i].difficulty %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/picker.js"></script>
    <script src="/js/picker.date.js"></script>
    <script src="/js/lunr.min.js"></script>
    <script src="/js/projects.js"></script>
</body>
</html>
