<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tinker</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/default.css">
    <link rel="stylesheet" href="./css/default.date.css">
    <link rel="stylesheet" href="./css/base.css">
</head>
<body>
    <nav class="navbar navbar-static-top" role="navigation">
        <img src="img/logo.png" class="logo">
        <h1 class="inline" style="font-weight:400;">Tinker</h1>
        <a href="/users/1/config">
            <img class="nav-icon navbar-right" src="img/settings.png">
        </a>
        <a href="/users/1">
            <img class="nav-icon navbar-right" src="img/user.png">
        </a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12 heading">
                Open Projects
            </div>
        </div>
        <div class="row block">
            <div class="col-md-2">
                <form action="">
                    <input type="text" class="input-style" placeholder="Search">
                </form>
            </div>
            <div class="col-md-2">
                <form action="">
                    <input class="datepicker input-style" type="text" placeholder="Filter Date">
                </form>
            </div>
            <div class="col-md-2">
                <form action="">
                    <input type="text" class="input-style" placeholder="Filter Location">
                </form>
            </div>
            <div class="col-md-2">
                <form action="">
                    <input type="text" class="input-style" placeholder="Filter Skill">
                </form>
            </div>
        </div>
        <div class="row-padding-md"></div>
        <div class="row block">
            <div class="col-md-2 col-header">
                Profile Pic 
            </div>
            <div class="col-md-2 col-header">
                Project Title
            </div>
            <div class="col-md-2 col-header">
                Date Posted
            </div>
            <div class="col-md-2 col-header">
                Skill 
            </div>
            <div class="col-md-2 col-header">
                Location 
            </div>
            <div class="col-md-2 col-header">
                Difficulty 
            </div>
        </div>
        <div class="data-entries">
            <div class="row-padding-sm"></div>
            <% for(var i = 0; i < projectsPage.length; i++) { %>
                <div class="row block">
                    <div class="col-md-2">
                        <img class="profile-pic" src="<%= projectsPage[i].profilePic  %>">
                    </div>
                    <div class="col-md-2 pad-top">
                        <%= projectsPage[i].title %>
                    </div>
                    <div class="col-md-2 pad-top">
                        <%= projectsPage[i].date %>
                    </div>
                    <div class="col-md-2 pad-top">
                        <%= projectsPage[i].skill %>
                    </div>
                    <div class="col-md-2 pad-top">
                        <%= projectsPage[i].location %>
                    </div>
                    <div class="col-md-2 pad-top">
                        <%= projectsPage[i].difficulty %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/picker.js"></script>
    <script src="js/picker.date.js"></script>
    <script src="js/projects.js"></script>
</body>
</html>
