<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tinker</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/default.css">
    <link rel="stylesheet" href="./css/default.date.css">
    <link rel="stylesheet" href="./css/base.css">
</head>
<body>
    <nav class="navbar navbar-static-top" role="navigation">
        <img src="img/logo.png" class="logo">
        <h1 class="inline" style="font-weight:400;">Tinker</h1>
        <a href="/users/1/config">
            <img class="nav-icon navbar-right" src="img/settings.png">
        </a>
        <a href="/users/1">
            <img class="nav-icon navbar-right" src="img/user.png">
        </a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12 heading">
                Open Projects
            </div>
        </div>
        <div class="row block">
            <div class="col-md-3">
                <form action="">
                    <input type="text" class="input-style" placeholder="Search">
                </form>
            </div>
            <div class="col-md-3">
                <form action="">
                    <input class="datepicker input-style" type="text" placeholder="Filter By Date">
                </form>
            </div>
            <div class="col-md-3">
                Skill
            </div>
            <div class="col-md-3">
                Location
            </div>
        </div>
        <div class="row-padding-lg"></div>
        <div class="row block">
            <div class="col-md-2 col-header">
                Profile Pic 
            </div>
            <div class="col-md-2 col-header">
                Project Title
            </div>
            <div class="col-md-2 col-header">
                Date Posted
            </div>
            <div class="col-md-2 col-header">
                Skill 
            </div>
            <div class="col-md-2 col-header">
                Location 
            </div>
            <div class="col-md-2 col-header">
                Difficulty 
            </div>
        </div>
        <div class="row-padding-sm"></div>
        <div class="row block">
            <div class="col-md-2">
                <img class="profile-pic" src="img/profile1.jpg">
            </div>
            <div class="col-md-2 pad-top">
                Sample Project 1 
            </div>
            <div class="col-md-2 pad-top">
                1/1/2014
            </div>
            <div class="col-md-2 pad-top">
                Woodwork
            </div>
            <div class="col-md-2 pad-top">
                Charlottesville
            </div>
            <div class="col-md-2 pad-top">
                3.0
            </div>
        </div>
    </div>

    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/picker.js"></script>
    <script src="js/picker.date.js"></script>
    <script src="js/projects.js"></script>
</body>
</html>
